@import "tailwindcss";


.staatliches {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.staatliches_ns {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semi {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.teko {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

